$text-blue: rgb(43, 97, 171);
$text-dark-blue: rgb(0, 45, 81);
$text-red: rgb(196, 22, 28);
$text-white: rgb(255, 255, 255);
$text-charcoal-black: #292929bf;
$text-black: rgba(41, 41, 41, 1);
$text-orange: rgba(234, 97, 83, 0.75);
$bg-orange: rgba(234, 97, 83, 0.45);
$text-dark-purple: #782f76;
$text-grey: #e8e8e8;
$button-grey: #f2f2f2f2;

$bg-black: rgb(0, 0, 0);
$bg-black-semi: rgba(0, 0, 0, 0.75);
$bg-white: rgb(255, 255, 255);
$bg-white-semi: rgba(255, 255, 255, 0.65);
$bg-light-grey: rgb(241, 241, 241);
$bg-orange: rgba(196, 49, 33, 0.75);
$border-grey: rgb(235, 235, 235);

$theme-blue: rgb(0, 45, 81);
$theme-orange: #ea6153;
$theme-red: #e3001b;
$theme-green: #2d9620;
$theme-warn: #eaba2a;

$feather-white: #eaeaea;
