@mixin Josefin {
  font-family: "Josefin Sans", sans-serif;
}
@mixin Pacifico {
  font-family: "Pacifico", cursive;
}
@mixin Poppins {
  font-family: "Poppins", sans-serif;
}
@mixin Montserrat {
  font-family: "Montserrat", sans-serif;
}
