@import "../modules/card";
@import "../modules/color";
@import "../modules/font";
.App {
  text-align: center;
  .appHeader {
    .elc_ui-header-app-logo-img {
      display: none;
    }
    .page-title {
      @include Pacifico;
      font-weight: 800;
      color: $text-red;
    }
  }
  .user-cntnr {
    background-color: $bg-white;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    padding: 2rem;
    .user-card {
      width: 90%;
      margin: 10px auto;
      border: 2px solid $text-grey;
      padding: 0;
      border-radius: 8px;
      background-color: $bg-white;
      .avatar-cntnr {
        background-color: $button-grey;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        img {
          width: 50%;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          height: auto;
        }
      }
      .info-cntnr {
        padding: 1rem;
        .row {
          padding: 5px 0;
          @include vertical-center-left;
          @include Poppins;
          font-size: 13px;
          &.person-name {
            font-size: 18px;
            font-weight: 700;
          }
          color: $text-charcoal-black;
          i {
            margin-right: 5px;
          }
        }
      }
      .btn-cntnr {
        border-top: 2px solid $text-grey;
        .grid-column {
          height: 40px;
          align-items: center;
          justify-content: center;
          button {
            height: 30px;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            width: 100%;
            i {
              font-size: 15px;
              &.heart {
                color: $text-red;
              }
            }
          }
          &:nth-child(2) {
            button {
              border-left: 2px solid $text-grey;
              border-right: 2px solid $text-grey;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
